.todo-list {
  margin-top: 34px;
  list-style: none;
  width: 100%;
}

.todo {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 18px;
  border-radius: 10px;
  background-color: var(--purple);
  box-shadow: 0 0 10px 1px var(--dark-purple);
  color: #FFF;
  font-size: 14px;
}

.todo_complete-button {
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--snow-white);
  box-shadow: 0 0 10px 1px var(--dark-purple);
  cursor: pointer;
  transition: transform .2s ease;
}

.todo_complete-button:hover {
  transform: scale(1.1);
}

.todo_text {
  position: absolute;
  left: 40px;
}

.todo_delete-button {
  position: absolute;
  right: 15px;
  cursor: pointer;
  transition: transform, color .2s ease;
}

.todo_delete-button:hover {
  color: red;
  transform: scale(1.1);
}

.completed .todo_text{
  text-decoration: line-through;
}

.completed .todo_complete-button {
  background-color: var(--dark-purple);
}