.todo_create {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: var(--purple);
  box-shadow: 0 0 10px 1px var(--dark-purple);
  color: #FFF;
  font-size: 32px;
  cursor: pointer;
  transition: .2s ease all;
}

.todo_create:hover {
  transform: scale(1.2);
  background-color: var(--dark-purple);
}